ul {
  list-style-type: none;
}

ul > li {
  font-size: 13px;
  font-weight: 600;
  line-height: 300%;
}

ul > li > a {
  font-weight: 400;
}

.lists {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
  margin-left: 2%;
  margin-bottom: 20px;
}

hr {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

.bottom_footer {
  width: 90%;
  margin: 20px 5% 20px 5%;
  display: flex;
  justify-content: space-between;
}
