.top-warning {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 14px;
  font-weight: 550;
  height: 10%;
}

.top-warning > a {
  color: black;
}

.header {
  display: flex;
  padding-top: 20px;
}

.box {
  flex: 1;
  display: flex;
  justify-content: center;
}

.box:first-child > a {
  margin-right: auto;
}

.box:last-child > span {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.box:last-child > span > * {
  padding: 7px;
}

.host {
  padding: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 999px;
  color: white;
  font-weight: bolder;
}

.host:focus {
  outline: none;
}

.host:hover {
  background-color: rgba(209, 209, 209, 0.5);
}

.header_icon {
  object-fit: contain;
  height: 40px;
  margin-left: 80px;
}

.box > button,
.activity {
  padding: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.box > button:focus,
.activity:focus {
  outline: none;
}

.box > button:hover,
.activity:hover {
  color: lightgray;
  text-decoration: underline;
}

.box > button:disabled {
  color: white;
  cursor: default;
  text-decoration: underline;
}

.box:last-child {
  width: 15vw;
}

.box:last-child > span > a:hover > .avatar {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box:last-child > span > a:active {
  color: black;
}

.box:last-child > span > a:visited {
  color: black;
}

.avatar {
  display: flex;
  border: 1px solid lightgray;
  border-radius: 999px;
  padding: 7px;
  justify-content: space-between;
  align-items: center;
  margin-right: 80px;
  background-color: white;
}

.menu {
  margin-right: 15px;
  font-size: small;
}

.header_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  position: sticky;
  background-color: transparent;
  z-index: 100;
  width: 100%;
}

.search {
  margin: auto;
  max-width: fit-content;
  padding: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 999px;
  background-color: white;
}

.search > input {
  border: none;
  outline-width: 0;
  padding: 10px;
  width: 400px;
}

.nav {
  position: fixed;
  z-index: 99;
  width: 100%;
}

.collapsed_nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: white;
}

.collapsed_input {
  background-color: white;
  font-weight: bolder;
  color: black;
  width: 200px !important;
}
.collapsed_input::placeholder {
  color: black;
}

.collapsed_search {
  margin: auto;
  max-width: fit-content;
  padding: 10px;
  display: flex;
  flex: 1;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 999px;
  background-color: white;
}

.collapsed_search:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  transition: 0.3s;
}

.collapsed_search > input {
  border: none;
  outline-width: 0;
  padding: 10px;
  width: 400px;
}

.search-box-container {
  background-color: white;
  width: 65vw;
  height: 64px;
  border-radius: 900px;
  display: flex;
  box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.15), 0px 3px 8px rgba(0, 0, 0, 0.1) !important;
  color: #222222 !important;
  margin-bottom: 25px;
}

.search-box-container-collapsed {
  background-color: white;
  width: 65vw;
  height: 64px;
  border-radius: 900px;
  display: flex;
  border: 1px solid rgb(189, 189, 189);
  color: #222222 !important;
  margin-bottom: 25px;
}

.search-box {
  flex-grow: 2;
  border-radius: 999px;
  text-align: left;
  padding: 15px;
  padding-left: 30px;
}

.search-box:focus {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  background-color: white !important;
  outline: none;
}

.search-box:focus-within {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  background-color: white !important;
  outline: none;
}

.search-box:focus-within > p,
.search-box:focus-within > input {
  background-color: white !important;
}

.search-box:focus-within:hover > p,
.search-box:focus-within:hover > input {
  background-color: white !important;
}

.search-box:focus > p,
.search-box:focus > input {
  background-color: white !important;
}

.search-box:focus:hover > p,
.search-box:focus:hover > input {
  background-color: white !important;
}

.search-box:focus:hover > div > * {
  background-color: white !important;
}

.search-box:hover > p,
.search-box:hover > input {
  background-color: rgb(240, 240, 240) !important;
}

.search-box:hover > div > p,
.search-box:hover > div > input {
  background-color: rgb(240, 240, 240) !important;
}

.search-box:hover {
  background-color: rgb(240, 240, 240);
}

.search-title {
  font-weight: 700 !important;
  letter-spacing: 0.04em !important;
  font-size: 12px !important;
  line-height: 16px !important;
  padding-bottom: 2px !important;
}

.search-input {
  border: none;
  background-color: white;
  font-weight: 700;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  border-radius: 999px;
  background-color: rgb(255, 56, 92);
  color: white;
  padding: 11px;
}

.search-btn:hover {
  background-color: rgb(221, 59, 88) !important;
}

.blacky {
  color: black !important;
  font-size: 16px;
  font-weight: 530;
}

.location_nav {
  width: 65vw;
  display: flex;
  justify-content: flex-start;
}

.location_nav_text {
  background-color: white;
  width: 45%;
  height: 120px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
  text-align: center;
  line-height: 120px;
}

.location_nav_text > p {
  font-size: 20px;
  letter-spacing: 1px;
}

.date_nav {
  width: 65vw;
  display: flex;
  justify-content: flex-start;
}

.date_nav_text {
  background-color: white;
  width: 100%;
  height: 350px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

.member_nav {
  width: 65vw;
  display: flex;
  justify-content: flex-end;
}

.member_nav_text {
  background-color: white;
  width: 40%;
  height: 300px;
  border-radius: 20px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}
